# common
datetime_format = '%Y-%m-%dT%H-%M-%S'
log_path = '/home/pi/data'

# control center specific
drive_folder_id = 'zae1cc6f5c4fecECec6a5421dccA'
gdrive_config_path = '/home/pi/.gdrive'
remote_bluetooth_devices = {
    'John Galaxy': 'xx:xx:xx:xx:xx:xx'
}
free_user_id = '12345678'
free_user_pass = 'azd4Ssd45sdAd4'
door_tag_port = 12345
light_api_ip = '192.168.0.1'
light_api_key = 'abcdefghijklmnopqrstuvwxyzABCDEF01234567'
light_api_lamp_id = '1'
siren_ip = '192.168.x.x'
siren_port = 12345
tmp_data_path = '/home/pi/data'

# door tag specific
control_center_ip = '192.168.x.x'
control_center_port = 12345
siren_command_port = 12346
